<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <servlet-name>doLoginServlet</servlet-name>
    <servlet-class>web.servlet.doLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>doRegisterServlet</servlet-name>
    <servlet-class>web.servlet.doRegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>orderListServlet</servlet-name>
    <servlet-class>web.servlet.orderListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shoppingCartServlet</servlet-name>
    <servlet-class>web.servlet.shoppingCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>toIndexServlet</servlet-name>
    <servlet-class>web.servlet.toIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shoppingServlet</servlet-name>
    <servlet-class>web.servlet.shoppingServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>shoppingDelServlet</servlet-name>
    <servlet-class>web.servlet.shoppingDelServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>orderServlet</servlet-name>
    <servlet-class>web.servlet.orderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getOrderServlet</servlet-name>
    <servlet-class>web.servlet.getOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getOrderListServlet</servlet-name>
    <servlet-class>web.servlet.getOrderListServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>doBookListServlet</display-name>
    <servlet-name>doBookListServlet</servlet-name>
    <servlet-class>web.servlet.doBookListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLoginServlet</servlet-name>
    <url-pattern>/servlet/doLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doRegisterServlet</servlet-name>
    <url-pattern>/servlet/doRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orderListServlet</servlet-name>
    <url-pattern>/servlet/orderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shoppingCartServlet</servlet-name>
    <url-pattern>/servlet/shoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>toIndexServlet</servlet-name>
    <url-pattern>/servlet/toIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shoppingServlet</servlet-name>
    <url-pattern>/servlet/shoppingServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>shoppingDelServlet</servlet-name>
    <url-pattern>/servlet/shoppingDelServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>orderServlet</servlet-name>
    <url-pattern>/servlet/orderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getOrderServlet</servlet-name>
    <url-pattern>/servlet/getOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getOrderListServlet</servlet-name>
    <url-pattern>/servlet/getOrderListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doBookListServlet</servlet-name>
    <url-pattern>/servlet/doBookListServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>jsp/firstPage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>web.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/servlet/logoutServlet</url-pattern>
  </servlet-mapping>
</web-app>